
mat-card.card-post mat-card-header {
    max-height: 108px;
    min-height: 108px;
}

mat-card.card-post .mat-card-image {
    max-height: 180px;
    min-height: 180px;
}

mat-card.card-post mat-card-title {
    max-height: 65px;
}

mat-card.card-post mat-card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

mat-card.card-post mat-card-content {
    max-height: 105px;
    min-height: 105px;
    line-height: 105px;
}

mat-card.card-post .mat-card-actions {
    margin: 0;
}


.ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 105px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}