<!--
<div fxLayout fxFlexFill fxLayoutWrap fxLayoutGap="5px" fxLayoutGap.xs="0px" fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="80%">  
        <mat-card-content>
          <p [innerHTML]="postContent"></p>
        </mat-card-content>
      </mat-card>
</div> -->

<div fxLayout fxFlexFill fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
  <mat-card class="mat-card-detail" fxFlex.xs="100%" fxFlex="80%">  
    <mat-card-content>
      <p [innerHTML]="postContent"></p>
    </mat-card-content>
  </mat-card>
</div>