.header-space {
    flex: 1 1 auto;
    text-align: center;
}

@media (max-width: 600px) {
    .btn-menu-header.mat-button {
        min-width: 30px;
        padding: 0px;
    }
}

@media (min-width: 601px) {
    .btn-menu-header.mat-button {
        min-width: 56px;
    }
}
