<mat-toolbar color="primary">
    <button mat-icon-button [fxHide.gt-xs]="true" class="btn-menu-header btn-menu-header-left" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span routerLink="/">Ng-Spring-Auth</span>

    <!-- This fills the remaining space of the current row -->
    <span fxFlex></span>

    <button mat-button [matMenuTriggerFor]="appMenu" class="btn-menu-header btn-menu-header-right">
      <mat-icon [fxShow]="isAuthenticate">account_circle</mat-icon>
      <mat-icon [fxHide]="isAuthenticate">more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [fxHide]="isAuthenticate" routerLink="/auth/login">
    <mat-icon>fingerprint</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item [fxHide]="isAuthenticate" routerLink="/auth/signup">
    <mat-icon>person_add</mat-icon>
    <span>Sign Up</span>
  </button>
  <button mat-menu-item [fxShow]="isAuthenticate" routerLink="/manage/profile">
    <mat-icon>info_outline</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item [fxShow]="isAuthenticate" routerLink="/manage">
    <mat-icon>settings</mat-icon>
    <span>Setting</span>
  </button>
  <button mat-menu-item [fxShow]="isAuthenticate" routerLink="/auth/logout">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-sidenav-container>
    <!-- slidenav -->
    <mat-sidenav #sidenav mode="over" >
        <mat-nav-list>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/">
            <mat-icon> dashboard </mat-icon>
            <span> Angular </span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/">
            <mat-icon> group </mat-icon>
            <span> Spring </span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/">
            <mat-icon> view_list </mat-icon>
            <span> Hibernate </span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/">
            <mat-icon> subject </mat-icon>
            <span> Reactjs </span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/">
            <mat-icon> subject </mat-icon>
            <span> Vuejs </span>
        </button>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content data-scrollbar id="appMainContent" class="app-main-content" fxLayout="column">
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>