mat-card-header > *,
mat-card-content > * {
    width: 100%;
}

mat-card-title h2 {
    display: flex;
    width: 100%;
    text-align: center;
}


@media (max-width: 600px) {
    mat-card.signup-form {
        box-shadow: unset;
    }
}