/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.mat-cell, .mat-header-cell {
    overflow: hidden;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    mat-sidenav-container mat-sidenav {
        width: 80%;
    }

    #appMainContent,
    #appContent {
        margin-top: 56px;
    }
}

@media (min-width: 601px) {
    mat-card {
        margin: 5px;
    }

    mat-sidenav-container mat-sidenav {
        min-width: 250px;
    }

    #appMainContent,
    #appContent {
        margin-top: 70px;
    }
}

.mat-toolbar {
    position: fixed;
    z-index: 2;
}